.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.loading {
  position: absolute;
  top: 50%;
  left: 55%;
  font-size: 25px;
  color: gray;
}
