.addListTitle {
  color: black;
  text-align: left;
  margin-left: 40px;
}

.newList {
  flex: 4;
}

.addListForm {
  margin-top: 10px;
}

.mid {
  display: flex;
  flex-wrap: wrap;
}

.addListItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 30px;
  padding: 10px;
}

.addListItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addListItem > input {
  border: 1px solid gray;
  padding: 8px;
  font-size: 15px;
  width: 300px;
}

.addListItem > select {
  padding: 10px;
  font-size: 15px;
  min-width: 16.5vmax;
}

.addListButton {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-left: 40px;
}

.newList_SelectContent {
  height: 40vh;
}

.newListRight {
  margin-left: 100px;
}
