.newMovie {
  flex: 4;
  margin-bottom: 20px;
}

.addMovieTitle {
  color: black;
  text-align: left;
  margin-left: 40px;
}

.addMovieForm {
  margin-top: 10px;
}

.midNewMovie {
  display: flex;
  flex-wrap: wrap;
}

.addMovieItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 30px;
  padding: 10px;
}

.addMovieItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addMovieItem > input,
textarea {
  border: 1px solid gray;
  padding: 8px;
  font-size: 15px;
  margin-right: 20px;
  min-width: 20vmax;
}

textarea {
  height: 100px;
}

.addMovieItem > select {
  padding: 10px;
  font-size: 15px;
  min-width: 21vmax;
}

.addMovieButton {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-left: 40px;
}

.rightNewMovie {
  margin-left: 200px;
}
